@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
      format("woff");
}
@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
      format("woff");
}
body {
  font-family: "Amazon Ember", Arial, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

html {
    text-align: center;

}

.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10;

}



.logo{
max-width:150px;
padding-top: 8px;
}


.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  top:10px;
  border: 3px solid black;
  width: 10%;
  height: 10%;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.navbar-container {
    position: absolute;
    top:0;
    left: 0%;
    height: 8vh;
    width: 100%;
    background-color:#121921;

}

.main-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.main-container div {
    width: 30%;
    height: 100%;
}
.container-bought-together,
.container-explore {
    height: 10vh;
    width: 90%;
}
.left-grid-inner{
    padding-left: 40px;
}

css for categories drop





img {
    max-width: 100%;
    vertical-align: top;
  }
  
  .gallery {
    display: flex;
    margin: 10px auto;
    max-width: 600px;
    position: relative;
    padding-top: 66.6666666667%;
  }
  .gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .gallery__thumb {
    padding-top: 6px;
    margin: 6px;
    display: block;
  }
  .gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .gallery__selector:checked + .gallery__img {
    opacity: 1;
  }
  .gallery__selector:checked ~ .gallery__thumb > img {
    box-shadow: 0 0 0 3px #f4fafa;
  }
  @media screen and (min-width: 600px) {
}